## MongoDB With  Python

In [4]:
# pip install pymongo

In [5]:
import pymongo

In [6]:
client=pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [7]:
mydb=client['Employee']

In [8]:
information=mydb.employeeinfo

In [11]:
record={
        'firstname':'Balaprasad',
        'lastname':'Garudkar',
        'depatment':'Data_Scientist'
        }

#### CRUD Operations in MongoDB

### Insert/Create Collections

In [12]:
information.insert_one(record)

In [15]:
records=[{'firstname':'Balaprasad',
        'lastname':'Garudkar',
        'depatment':'Data_Scientist'
         },{'firstname':'Pravin',
        'lastname':'Nirdi',
        'depatment':'SAP'
         },{'firstname':'Sanket',
        'lastname':'Pawar',
        'depatment':'ABAP'
         },{'firstname':'Sandy',
        'lastname':'Smith',
        'depatment':'Devloper'
         },{'firstname':'Shailesh',
        'lastname':'Kirti',
        'depatment':'Analitycs'
         }]

In [16]:
information.insert_many(records)

In [39]:
records1=[{'First Name':'Richard','Last Name':'William','ID Number':123,'Job Title':'Analitycs','Department':'Data science','Location':'USA','Salary':22000},
         {'First Name':'Daniel','Last Name':'Albert','ID Number':133,'Job Title':'ABAP','Department':'SAP','Location':'Japan','Salary':123000},
         {'First Name':'Mukesh','Last Name':'Garudkar','ID Number':143,'Job Title':'Data Scientist','Data Science':'SAP','Location':'India','Salary':562000},
         {'First Name':'Harvey','Last Name':'Carl','ID Number':153,'Job Title':'Devloper','Department':'Oracle','Location':'Canada','Salary':92000},
         {'First Name':'Jim','Last Name':'Henry','ID Number':163,'Job Title':'HANA','Department':'SAP','Location':'New York','Salary':456000},
         {'First Name':'Leo','Last Name':'Walter','ID Number':173,'Job Title':'Software','Department':'Engineering','Location':'Shrilanka','Salary':82000},
         {'First Name':'Edward','Last Name':'Frederick','ID Number':183,'Job Title':'Data Engineer','Department':'Data science','Location':'England','Salary':382000},
         {'First Name':'Willie','Last Name':'George','ID Number':193,'Job Title':'Devloper','Department':'Java','Location':'South Africa','Salary':242000},
         {'First Name':'Dinesh','Last Name':'Tyagi','ID Number':111,'Job Title':'devloper','Department':'Oracle','Location':'India','Salary':322000},
         {'First Name':'Richard','Last Name':'Lee','ID Number':129,'Job Title':'Analitycs','Department':'Data science','Location':'Australia','Salary':122000}]

In [40]:
information.insert_many(records1)

## Read/Find Operation

In [22]:
# Simple way of Querying
information.find_one({})

{'_id': ObjectId('5fe2cefb1fc67c555239c055'),
 'firstname': 'Pravin',
 'lastname': 'Nirdi',
 'depatment': 'SAP'}

In [25]:
information.find()

In [27]:
for i in information.find({}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c055'), 'firstname': 'Pravin', 'lastname': 'Nirdi', 'depatment': 'SAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c056'), 'firstname': 'Sanket', 'lastname': 'Pawar', 'depatment': 'ABAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c057'), 'firstname': 'Sandy', 'lastname': 'Smith', 'depatment': 'Devloper'}
{'_id': ObjectId('5fe2cefb1fc67c555239c058'), 'firstname': 'Shailesh', 'lastname': 'Kirti', 'depatment': 'Analitycs'}

In [29]:
for i in information.find({'firstname':'Pravin'}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c055'), 'firstname': 'Pravin', 'lastname': 'Nirdi', 'depatment': 'SAP'}

In [31]:
for i in information.find({'firstname':'Sandy'}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c057'), 'firstname': 'Sandy', 'lastname': 'Smith', 'depatment': 'Devloper'}

In [34]:
# Query documents using query Operators($in,$lt,$gt,$lte,$gte)
for i in information.find({'depatment':{'$in':['Analitycs','ABAP']}}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c056'), 'firstname': 'Sanket', 'lastname': 'Pawar', 'depatment': 'ABAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c058'), 'firstname': 'Shailesh', 'lastname': 'Kirti', 'depatment': 'Analitycs'}

In [35]:
for i in information.find({'lastname':{'$in':['Nirdi','Pawar','Kirti']}}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c055'), 'firstname': 'Pravin', 'lastname': 'Nirdi', 'depatment': 'SAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c056'), 'firstname': 'Sanket', 'lastname': 'Pawar', 'depatment': 'ABAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c058'), 'firstname': 'Shailesh', 'lastname': 'Kirti', 'depatment': 'Analitycs'}

In [41]:
for i in information.find({}):
    print(i)

{'_id': ObjectId('5fe2cefb1fc67c555239c055'), 'firstname': 'Pravin', 'lastname': 'Nirdi', 'depatment': 'SAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c056'), 'firstname': 'Sanket', 'lastname': 'Pawar', 'depatment': 'ABAP'}
{'_id': ObjectId('5fe2cefb1fc67c555239c057'), 'firstname': 'Sandy', 'lastname': 'Smith', 'depatment': 'Devloper'}
{'_id': ObjectId('5fe2cefb1fc67c555239c058'), 'firstname': 'Shailesh', 'lastname': 'Kirti', 'depatment': 'Analitycs'}
{'_id': ObjectId('5fe2e11b1fc67c555239c059'), 'First Name': 'Richard', 'Last Name': 'William', 'ID Number': 123, 'Job Title': 'Analitycs', 'Department': 'Data science', 'Location': 'USA', 'Salary': 22000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05a'), 'First Name': 'Daniel', 'Last Name': 'Albert', 'ID Number': 133, 'Job Title': 'ABAP', 'Department': 'SAP', 'Location': 'Japan', 'Salary': 123000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05b'), 'First Name': 'Mukesh', 'Last Name': 'Garudkar', 'ID Number': 143, 'Job Title': 'Data Scientist', 'Data Science': 'SAP', 'Location': 'India', 'Salary': 562000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05c'), 'First Name': 'Harvey', 'Last Name': 'Carl', 'ID Number': 153, 'Job Title': 'Devloper', 'Department': 'Oracle', 'Location': 'Canada', 'Salary': 92000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05d'), 'First Name': 'Jim', 'Last Name': 'Henry', 'ID Number': 163, 'Job Title': 'HANA', 'Department': 'SAP', 'Location': 'New York', 'Salary': 456000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05e'), 'First Name': 'Leo', 'Last Name': 'Walter', 'ID Number': 173, 'Job Title': 'Software', 'Department': 'Engineering', 'Location': 'Shrilanka', 'Salary': 82000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05f'), 'First Name': 'Edward', 'Last Name': 'Frederick', 'ID Number': 183, 'Job Title': 'Data Engineer', 'Department': 'Data science', 'Location': 'England', 'Salary': 382000}
{'_id': ObjectId('5fe2e11b1fc67c555239c060'), 'First Name': 'Willie', 'Last Name': 'George', 'ID Number': 193, 'Job Title': 'Devloper', 'Department': 'Java', 'Location': 'South Africa', 'Salary': 242000}
{'_id': ObjectId('5fe2e11b1fc67c555239c061'), 'First Name': 'Dinesh', 'Last Name': 'Tyagi', 'ID Number': 111, 'Job Title': 'devloper', 'Department': 'Oracle', 'Location': 'India', 'Salary': 322000}
{'_id': ObjectId('5fe2e11b1fc67c555239c062'), 'First Name': 'Richard', 'Last Name': 'Lee', 'ID Number': 129, 'Job Title': 'Analitycs', 'Department': 'Data science', 'Location': 'Australia', 'Salary': 122000}

In [42]:
 for i in information.find({"Salary":{'$gt':123000}}):
        print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c05b'), 'First Name': 'Mukesh', 'Last Name': 'Garudkar', 'ID Number': 143, 'Job Title': 'Data Scientist', 'Data Science': 'SAP', 'Location': 'India', 'Salary': 562000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05d'), 'First Name': 'Jim', 'Last Name': 'Henry', 'ID Number': 163, 'Job Title': 'HANA', 'Department': 'SAP', 'Location': 'New York', 'Salary': 456000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05f'), 'First Name': 'Edward', 'Last Name': 'Frederick', 'ID Number': 183, 'Job Title': 'Data Engineer', 'Department': 'Data science', 'Location': 'England', 'Salary': 382000}
{'_id': ObjectId('5fe2e11b1fc67c555239c060'), 'First Name': 'Willie', 'Last Name': 'George', 'ID Number': 193, 'Job Title': 'Devloper', 'Department': 'Java', 'Location': 'South Africa', 'Salary': 242000}
{'_id': ObjectId('5fe2e11b1fc67c555239c061'), 'First Name': 'Dinesh', 'Last Name': 'Tyagi', 'ID Number': 111, 'Job Title': 'devloper', 'Department': 'Oracle', 'Location': 'India', 'Salary': 322000}

In [43]:
for i in information.find({'Location':'India'}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c05b'), 'First Name': 'Mukesh', 'Last Name': 'Garudkar', 'ID Number': 143, 'Job Title': 'Data Scientist', 'Data Science': 'SAP', 'Location': 'India', 'Salary': 562000}
{'_id': ObjectId('5fe2e11b1fc67c555239c061'), 'First Name': 'Dinesh', 'Last Name': 'Tyagi', 'ID Number': 111, 'Job Title': 'devloper', 'Department': 'Oracle', 'Location': 'India', 'Salary': 322000}

In [44]:
for i in information.find({'Salary':{'$lt':100000}}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c059'), 'First Name': 'Richard', 'Last Name': 'William', 'ID Number': 123, 'Job Title': 'Analitycs', 'Department': 'Data science', 'Location': 'USA', 'Salary': 22000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05c'), 'First Name': 'Harvey', 'Last Name': 'Carl', 'ID Number': 153, 'Job Title': 'Devloper', 'Department': 'Oracle', 'Location': 'Canada', 'Salary': 92000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05e'), 'First Name': 'Leo', 'Last Name': 'Walter', 'ID Number': 173, 'Job Title': 'Software', 'Department': 'Engineering', 'Location': 'Shrilanka', 'Salary': 82000}

In [45]:
for i in information.find({'Salary':{'$lte':82000}}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c059'), 'First Name': 'Richard', 'Last Name': 'William', 'ID Number': 123, 'Job Title': 'Analitycs', 'Department': 'Data science', 'Location': 'USA', 'Salary': 22000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05e'), 'First Name': 'Leo', 'Last Name': 'Walter', 'ID Number': 173, 'Job Title': 'Software', 'Department': 'Engineering', 'Location': 'Shrilanka', 'Salary': 82000}

In [47]:
for i in information.find({'Location':{'$in':['USA','Shrilanka','South Africa']}}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c059'), 'First Name': 'Richard', 'Last Name': 'William', 'ID Number': 123, 'Job Title': 'Analitycs', 'Department': 'Data science', 'Location': 'USA', 'Salary': 22000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05e'), 'First Name': 'Leo', 'Last Name': 'Walter', 'ID Number': 173, 'Job Title': 'Software', 'Department': 'Engineering', 'Location': 'Shrilanka', 'Salary': 82000}
{'_id': ObjectId('5fe2e11b1fc67c555239c060'), 'First Name': 'Willie', 'Last Name': 'George', 'ID Number': 193, 'Job Title': 'Devloper', 'Department': 'Java', 'Location': 'South Africa', 'Salary': 242000}

#### And Opertor

In [49]:
for i in information.find({'Location':'India','Salary':{'$lt':400000}}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c061'), 'First Name': 'Dinesh', 'Last Name': 'Tyagi', 'ID Number': 111, 'Job Title': 'devloper', 'Department': 'Oracle', 'Location': 'India', 'Salary': 322000}

In [51]:
for i in information.find({'$and':[{'Department':'SAP'},{'Job Title':'ABAP'}]}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c05a'), 'First Name': 'Daniel', 'Last Name': 'Albert', 'ID Number': 133, 'Job Title': 'ABAP', 'Department': 'SAP', 'Location': 'Japan', 'Salary': 123000}

#### OR Operator

In [50]:
for i in information.find({'$or':[{'Department':'SAP'},{'Job Title':'ABAP'}]}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c05a'), 'First Name': 'Daniel', 'Last Name': 'Albert', 'ID Number': 133, 'Job Title': 'ABAP', 'Department': 'SAP', 'Location': 'Japan', 'Salary': 123000}
{'_id': ObjectId('5fe2e11b1fc67c555239c05d'), 'First Name': 'Jim', 'Last Name': 'Henry', 'ID Number': 163, 'Job Title': 'HANA', 'Department': 'SAP', 'Location': 'New York', 'Salary': 456000}

### Update Operation in MongoDB

#### .update_One

In [53]:
information.update_one({'ID Number':129},{'$set':{'Job Title':'Big Data Engineer','Department':'Big Data'}})

In [55]:
 for i in information.find({'ID Number':129}):
        print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c062'), 'First Name': 'Richard', 'Last Name': 'Lee', 'ID Number': 129, 'Job Title': 'Big Data Engineer', 'Department': 'Big Data', 'Location': 'Australia', 'Salary': 122000}

#### .update_Many

In [56]:
information.update_many({'Department':'SAP'},{'$set':{'Salary':'840000','Location':'North India','Rating':4.3}})

In [58]:
for i in information.find({'Department':'SAP'}):
    print(i)

{'_id': ObjectId('5fe2e11b1fc67c555239c05a'), 'First Name': 'Daniel', 'Last Name': 'Albert', 'ID Number': 133, 'Job Title': 'ABAP', 'Department': 'SAP', 'Location': 'North India', 'Salary': '840000', 'Rating': 4.3}
{'_id': ObjectId('5fe2e11b1fc67c555239c05d'), 'First Name': 'Jim', 'Last Name': 'Henry', 'ID Number': 163, 'Job Title': 'HANA', 'Department': 'SAP', 'Location': 'North India', 'Salary': '840000', 'Rating': 4.3}

### Delete Operation in MongoDB

In [18]:
information.delete_one({'firstname':'Balaprasad'})

In [19]:
information.delete_many({'firstname':'Balaprasad'})

### MongoDb With Python- Aggregate Functions($group,$sum,$avg,$project)

In [59]:
mydatabase=client['Students']

In [60]:
studentinfo=mydatabase.Studentscores

In [73]:
data=[{'Name':'Akash','Subject':'Oracle','Score':90},
     {'Name':'Akash','Subject':'RDBMS','Score':85},
     {'Name':'Akash','Subject':'Python','Score':60},
     {'Name':'Omkar','Subject':'Python','Score':95},
     {'Name':'Omkar','Subject':'Python','Score':95},
     {'Name':'Omkar','Subject':'Java','Score':80}]

In [74]:
studentinfo.insert_many(data)

In [75]:
for i in studentinfo.find({}):
    print(i)

{'_id': ObjectId('5fe2f6741fc67c555239c063'), 'Name': 'Ganesh', 'Subject': 'Java', 'Score': 80}
{'_id': ObjectId('5fe2f6741fc67c555239c064'), 'Name': 'Akash', 'Subject': 'Oracle', 'Score': 90}
{'_id': ObjectId('5fe2f6741fc67c555239c065'), 'Name': 'Sachin', 'Subject': 'RDBMS', 'Score': 85}
{'_id': ObjectId('5fe2f6741fc67c555239c066'), 'Name': 'Shekar', 'Subject': 'C++', 'Score': 60}
{'_id': ObjectId('5fe2f6741fc67c555239c067'), 'Name': 'Omkar', 'Subject': 'Python', 'Score': 95}
{'_id': ObjectId('5fe2fc821fc67c555239c068'), 'Name': 'Akash', 'Subject': 'Oracle', 'Score': 90}
{'_id': ObjectId('5fe2fc821fc67c555239c069'), 'Name': 'Akash', 'Subject': 'RDBMS', 'Score': 85}
{'_id': ObjectId('5fe2fc821fc67c555239c06a'), 'Name': 'Akash', 'Subject': 'Python', 'Score': 60}
{'_id': ObjectId('5fe2fc821fc67c555239c06b'), 'Name': 'Omkar', 'Subject': 'Python', 'Score': 95}
{'_id': ObjectId('5fe2fc821fc67c555239c06c'), 'Name': 'Omkar', 'Subject': 'Python', 'Score': 95}
{'_id': ObjectId('5fe2fc821fc67c555239c06d'), 'Name': 'Omkar', 'Subject': 'Java', 'Score': 80}

In [77]:
agg_result= studentinfo.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$Name",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [78]:
for i in agg_result:
    print(i)

{'_id': 'Akash', 'Total Subject': 4}
{'_id': 'Omkar', 'Total Subject': 4}
{'_id': 'Shekar', 'Total Subject': 1}
{'_id': 'Ganesh', 'Total Subject': 1}
{'_id': 'Sachin', 'Total Subject': 1}

In [86]:
### Calculating the total score based on user
agg_result= studentinfo.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$Name",  
         "Total Marks" : {"$sum" :"$Score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Ganesh', 'Total Marks': 80}
{'_id': 'Sachin', 'Total Marks': 85}
{'_id': 'Akash', 'Total Marks': 325}
{'_id': 'Omkar', 'Total Marks': 365}
{'_id': 'Shekar', 'Total Marks': 60}

In [88]:
### Calculating the average score based on user
agg_result=studentinfo.aggregate([
   {
      "$group": {
         "_id": '$Name',
         "StudentScoreAverage": {
            "$avg": "$Score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Ganesh', 'StudentScoreAverage': 80.0}
{'_id': 'Sachin', 'StudentScoreAverage': 85.0}
{'_id': 'Akash', 'StudentScoreAverage': 81.25}
{'_id': 'Omkar', 'StudentScoreAverage': 91.25}
{'_id': 'Shekar', 'StudentScoreAverage': 60.0}